.app{

    min-height:100vh;

    background:#f1f5f9;

    padding:25px;

}

.dashboard-grid{

    margin-top:30px;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

    align-items:start;

}

@media(max-width:992px){

    .dashboard-grid{

        grid-template-columns:1fr;

    }

}